@addTagHelper *, DatingService
@model UsersViewModel
@inject DatingService.Service.Interfaces.IRequestService _requestService
<head>
    <title>@ViewData["Title"] - Пользователи</title>
</head>
<body>
    <div>
        Пользователей онлайн : <span id="onlineUsersCount"></span>
    </div>
    <div>
        <page-link page-model="Model.PageViewModel" page-action="Users"></page-link>
    </div>
    <table class="table" id="userList">
        <thead>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                var path = item.Avatar?.Path;
                @if (path == null)
                {
                    path = item.Gender?.Name == "Woman" ? "no-profile-image-f.svg" : "no-profile-image-m.svg";
                }
                <tr>
                    <td><img class="rounded-circle" style="height:5rem; width:5rem" src="~/Files/Images/Avatars/@path" data-holder-rendered="true"></td>
                    <td>@item.FullName</td>
                    @if (_requestService.UserInFriendsList(Model.Friends.AsQueryable(), item))
                    {
                        <td>
                            <a type="button" class="btn btn-primary" asp-controller="UserRelationship" asp-action="Chat" asp-route-userId="@item.Id">Написать сообщение</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a type="button" class="btn btn-primary" asp-controller="UserRelationship" asp-action="AddToFriends" asp-route-userId="@item.Id">Добавить в друзья</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</body>
@*<style>
        .btn {
            background-color: transparent; /* Blue background */
            border: none; /* Remove borders */
            color: royalblue; /* White text */
            padding: 12px 16px; /* Some padding */
            font-size: 16px; /* Set a font size */
            cursor: pointer; /* Mouse pointer on hover */
        }
            /* Darker background on mouse-over */
            .btn:hover {
                background-color: transparent;
                color: blue;
            }
    </style>*@