@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h2>Account</h2>

<div>
    <hr />
    <div class="d-flex align-items-start justify-content-around">
        <div class="col-md-3 shadow py-3 mr-1">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-8 shadow py-3 mr-1">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
