@using DatingService.Infrastructure.ViewModels
@model IQueryable<ApplicationUser>
@{
    ViewData["Title"] = "Cards";
}


<main class="rec-main">
    <section class="rec-card-board ">
        @foreach (var item in Model)
        {
            var path = item.Avatar?.Path;
            @if (path == null)
            {
                path = item.Gender?.Name == "Woman" ? "no-profile-image-f.svg" : "no-profile-image-m.svg";
            }
            <article class="rec-card">
                <article class="rec-card-inner">
                    <article class="rec-card-front">
                        <img src="~/Files/Images/Avatars/@path" class="rec-img" />
                        <h3 class="rec-card-text">@item.FullName</h3>
                    </article>
                    <article class="rec-card-back">
                        <h1>Информация о профиле</h1>
                    </article>
                </article>
            </article>
        }
    </section>
    <section class="rec-button-holder">
        <i class="far fa-times-circle fa-4x" id="dislikeButton"></i>
        <i class="far fa-heart fa-4x" id="likeButton"></i>

    </section>

</main>
<script src="https://kit.fontawesome.com/2aa6a9b570.js" crossorigin="anonymous"></script>