<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Are you sure</h5>
            </div>
            <input type="hidden" id="entityId" />
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="confirm()">Confirm</button>
                <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
