@model ApplicationUser

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Content</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SentReports)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Content)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>