<form asp-action="SendMessage">
    <div class="form-group">
        @*<label>От</label>
            <input type="hidden" class="form-control" asp-for="From">
            <label>Кому</label>
            <input type="hidden" class="form-control" asp-for="To">*@
        <label>Тема</label>
        <input class="form-control" name="subject">
    </div>
    <div class="form-group">
        <label>Message</label>
        <textarea class="form-control" name="htmlMessage" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Sebd</button>
</form>