@model Post

<head>
    <title>@ViewData["Title"] - Создать пост</title>
</head>

<body>
    <form asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title"></span>
        </div>
        <div>
            <label asp-for="Content"></label>
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image"></label>
            <input type="file" name="file" id="file" class="form-control-file">
            <div>
                <span class="card-img"><img src="~/Files/Images/Posts/@Model.Image?.Path" /></span>
            </div>
        </div>
        <div class="form-group">
            <button id="submitButton" type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
    <script src="~/lib/ckeditor5/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Content'), {
                uploadUrl: '@Html.IdFor(x => x.Content)'
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>
</body>