@model Report

<div class="row justify-content-center align-items-start">
    <div class="col-md-4 shadow m-2 p-4">
        <form asp-action="CreateReport" method="post">
            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="ReportCategoryId" asp-items="ViewBag.ReportCategories"></select>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ReceiverId" class="form-control" />
            </div>
            <div>
                <label asp-for="Content"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
</div>